
.Movie-List {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-title {
  font-size: 22px;
  font-weight: bold;
  color: rgb(10, 131, 131);
  margin-bottom: 20px;
  text-align: center;
}

.fav-title {
  font-size: 16px;
  font-weight: bold;
}

.movies-title {
  font-size: 16px;
  font-weight: bold;
}

.favourites {
  color: grey;
  font-style: italic;
  margin: 10px 0px 30px 0px;
}
.fav-list {
  margin: 10px 0px 20px 0px;
}
.pick {
  display: flex;
  justify-content: flex-end;
}

.pick-button {
  margin-top: 10px;
  background-color: rgb(245, 245, 245);
}

.pick-button:hover {
  background-color: rgb(203, 203, 203);
}

.movies-filter {
  margin: 10px 0px;
}